body {
  font-family: arial;
}

h2 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 5px;
  margin-top: 0;
}

.question:hover {
  background-color: lightgray;
}

.text {
  	display: flex;
  	align-items: center;
  	width: 120px;
  	background-color: white;
  	position: absolute;
  	left: 0;
  	justify-content: flex-end;
  	padding-right: 10px;
}

.bar {
  	margin-left: 120px;
}
.bar .mark {
    content: "";
    display: block;
    background-color: #3d9970;
    height: 1em;
    position: relative;
}
